body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
}

.focsued {
    display: flex;
}

.item-style {
    width: 50%;
    padding: 5%;
}

img {
    width: 90%;
}

.boder-st {
    border-left: 5px solid rgb(76, 138, 230);
}

.boder-st h2 {
    font-size: 30px;
}

.boder-st h1 {
    font-size: 40px;
    color: rgb(238, 172, 6);
}

.button-s {
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(238, 172, 6);
    color: honeydew;
    border-radius: 20px;
}


/* first part---end */

.my-mission {
    box-sizing: border-box;
    width: 20%;
    padding: 10px;
    margin: 6%;
    box-shadow: 10px 10px 20px rgb(122, 122, 122);
    background-color: rgb(225, 234, 238);
    height: 350px;
    border-radius: 20px;
}

.my-vission {
    box-sizing: border-box;
    width: 20%;
    padding: 10px;
    margin: 6%;
    box-shadow: 10px 10px 20px rgb(122, 122, 122);
    height: 350px;
    background-color: rgb(238, 228, 230);
    border-radius: 20px;
}

.my-goals {
    box-sizing: border-box;
    width: 20%;
    padding: 10px;
    margin: 6%;
    box-shadow: 10px 10px 20px rgb(122, 122, 122);
    height: 350px;
    background-color: rgb(233, 216, 195);
    border-radius: 20px;
}

.tag-style {
    text-align: center;
    margin-bottom: 0px;
    font-size: 40px;
}

.tag-color {
    color: rgb(238, 172, 6);
}

.my-goals img {
    width: 150px;
    height: 150px;
}

.my-mission img {
    width: 150px;
    height: 150px;
}

.my-vission img {
    width: 150px;
    height: 150px;
}