body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
}

.focsued {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.item-style {
    width: 70%;
    padding: 6%;
}

img {
    width: 90%;
}

.boder-st {
    border-left: 5px solid rgb(76, 138, 230);
}

.boder-st h2 {
    font-size: 30px;
}

.boder-st h1 {
    font-size: 40px;
    color: rgb(238, 172, 6);
}

.button-s {
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(238, 172, 6);
    color: honeydew;
    border-radius: 20px;
}


/* first part---end */

.my-mission {
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    margin: 6%;
    box-shadow: 10px 10px 20px rgb(122, 122, 122);
    background-color: rgb(225, 234, 238);
    height: 420px;
    border-radius: 20px;
}

.my-vission {
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    margin: 6%;
    box-shadow: 10px 10px 20px rgb(122, 122, 122);
    height: 420px;
    background-color: rgb(238, 228, 230);
    border-radius: 20px;
}

.my-goals {
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    margin: 6%;
    box-shadow: 10px 10px 20px rgb(122, 122, 122);
    height: 420px;
    background-color: rgb(233, 216, 195);
    border-radius: 20px;
}

.tag-style {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0px;
    font-size: 40px;
}

.tag-color {
    color: rgb(238, 172, 6);
}

.my-goals img {
    width: 150px;
    height: 150px;
}

.my-mission img {
    width: 150px;
    height: 150px;
}

.my-vission img {
    width: 150px;
    height: 150px;
}


/* my mission end */

.devo-with1 {
    width: 50%;
    height: 300px;
    padding: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
}

.devo-with2 {
    width: 50%;
    height: 300px;
    padding-top: 8%;
}

.devo-with2 h1 {
    font-size: 35px;
}

.img-tag {
    text-decoration: none;
    background-color: rgb(248, 83, 83);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 15%;
}


/* end */

.golbal-sect {
    padding-top: 10%;
}

.text-div2 {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
    padding-bottom: 50px;
}

.text-div1 {
    padding: 5%;
}


/* text style */

.text-style h1 {
    text-align: center;
    font-size: 40px;
}

.text-color {
    font-weight: bold;
    color: rgb(238, 172, 6);
}


/* corona-style */

.build-st {
    width: 300px;
    height: 400px;
}

.add-images {
    position: absolute;
    width: 100px;
}

.corona-top1 {
    background: url(images/shapes/shape-3.png) left top no-repeat, url(images/shapes/shape-3.png) left bottom 20px no-repeat, url(images/shapes/shape-3.png) right 15px top 250px no-repeat;
    background-size: 100px, 60px, 60px;
    margin-right: 50px;
}

.corona-style2 {
    margin-top: 10%;
    font-weight: bold;
}

.corona2 {
    color: rgb(238, 172, 6);
}


/* footer */

.footer {
    height: 80px;
    width: 100%;
    background-color: black;
}

.footer h3 {
    color: white;
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Mea Culpa', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}

.footer p {
    color: rgb(214, 210, 210);
    text-align: center;
    margin: 0px;
    padding: 0%;
}

.text-css {
    color: tomato;
    font-weight: bolder;
}

.minu {
    height: 500px;
}